:root {
    --blue: #B5E2FA;
    --white: #F9F7F3;
    --vanilla: #EDDEA4;
    --vanilla-light: #eddea4c0;
    --orange: #F7A072;
    --flame: #D8572A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;

}

header {
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid var(--orange);
    background-color: var(--flame);
    color: var(--vanilla);
    text-shadow: 1px 1px var(--white), 2px 2px var(--blue);
}

main {
    flex: 1;
    background-color: var(--white);
}

footer {
    padding: 10px;
    background-color: var(--vanilla-light);
    color: var(--flame);
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 350px));
}

.book-card {
    height: 300px;
    background-color: var(--blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.read-btn, .remove-btn {
    width: 120px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.title, .author, .pages {
    text-align: center;
    font-weight:600;
    padding: 10px;
    background-color: var(--white);
    border-radius: 15px;
}

.title-input, .author-input, .pages-input {
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}